input {
    margin: 10px;
    padding: 5px 10px;
    font-size: 20px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.4);

}

.form {
    font-size: 20px;
}

.form button {
    display: inline-block;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 10px 20px;
    font-size: 30px;
    border: 2px solid #fff;
    margin: 8px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.4);
    outline: 0;
}


.form button:hover {
    background: #0d8aee;
    color: #deeffd;
}